<div th:fragment="AccountList">
    <h4>List Account</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Id</td>
            <td>Username</td>
            <td>Email</td>

            <td></td>
            <td></td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="obj : ${accounts}">
            <td th:text="${obj.id}">Id</td>
            <td th:text="${obj.username}">Username</td>
            <td th:text="${obj.email}">Email</td>

            <td>Edit</td>
            <td><a th:href="${'/account/delete/' + obj.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>