<div th:fragment="AdminCategory">
    <h4>Admin category</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="obj : ${categorys}">
            <td th:text="${obj.id}">Id</td>
            <td th:text="${obj.name}">Name</td>
            <td>Edit</td>
            <td><a th:href="${'/admin/delete/category' + obj.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
