<div th:fragment="AdminProduct">
    <h4>Admin Product</h4>
    <a href="/admin/product-add" class="btn btn-primary btn-sm"> Add</a>
    <a href="/admin/product-edit" class="btn btn-primary btn-sm"> edit</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Id</td>
            <td>Image</td>
            <td>Name</td>
            <td>Price</td>
            <td>Category</td>
            <td>Edit</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="obj : ${products}">
            <td th:text="${obj.id}">Id</td>
            <td th:text="${obj.imagePath}">Image</td>

            <td th:text="${obj.name}">Name</td>

            <td th:text="${obj.price}">Price</td>
            <td th:text="${obj.categoryName}">Category Name</td>
            <td><a th:href="${'/admin/delete/product/' + obj.id}">Delete</a></td>
            <td><a th:href="${'/admin/edit/product/' + obj.id}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>
